/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
}

/* 모바일용 스타일 */
@media (max-width: 767px) {
    #index-page .title-container {
        font-size: 18px;
    }

    #index-page .table-container {
        font-size: 14px;
    }

    #add-page, #edit-page, #view-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    #add-page form, #edit-page h3, #edit-page table, #view-page h3, #view-page table {
        width: 100%;
        max-width: 400px;
    }

    #edit-page .button-container, #view-page .button-container {
        text-align: center;
    }
}